<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" xmlns="http://logging.apache.org/log4j/2.0/config">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %4.-4level [%-4.4t] %-18.18C{3} - %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.jugs.webdav" level="INFO" />
    <Root level="INFO">
      <AppenderRef ref="CONSOLE" />
    </Root>
  </Loggers>
</Configuration>
